<!doctype html>
<html>
  <head>
    <title>This is Beats by Dre</title>
  </head>
  <body>
   <h1><%= welcomeText%></h1>
    <h2><%= cta %></h2>
    <p>Beats by Dre provides the highest quality headphones for a variety of listening experiences:</p>
    <ul>
    <li><%= category1 %></li>

  </ul>
  </body>
</html>
